<app-loading-indicator
  *ngIf="isFetchingSections"
  [loaderTxt]="'Loading Sections...'"
  class="mt-[25%]"
></app-loading-indicator>

<ng-container *ngIf="sections && sections.length; else noSectionsTmp">
  <app-section-list
    [list]="sections"
    (onListItemClickedEvent)="onListItemClickedEventHandler($event)"
  ></app-section-list>

  <hr
    class="w-full h-1 mx-auto my-2 bg-gray-100 border-0 rounded md:my-2 dark:bg-gray-700"
  />

  <app-section-news
    [hidden]="isSettingUpSSEConnection"
    class="hide-scrollbar"
    [news]="news"
  >
    <ng-container [ngTemplateOutlet]="newsLoading"></ng-container>
  </app-section-news>

  <app-news-headline
    class="hide-scrollbar sm:invisible md:visible"
    [news]="news"
    *ngIf="!isSettingUpSSEConnection && news.length"
  >
  </app-news-headline>
</ng-container>
<ng-template #noSectionsTmp>
  <p
    *ngIf="!isFetchingSections"
    class="w-full mt-[25%] text-sm text-center font-normal text-gray-900 dark:text-white"
  >
    No sections found, Please refresh in few minutes, Thanks.
  </p>
</ng-template>

<ng-template #newsLoading>
  <app-loading-indicator
    registeringSource
    *ngIf="isSettingUpSSEConnection"
    [loaderTxt]="'Registering for news events...'"
    class="mt-[20%]"
  ></app-loading-indicator>
  <p
    noNews
    *ngIf="!isSettingUpSSEConnection && news.length === 0"
    class="w-full mt-[20%] text-sm text-center font-normal text-gray-900 dark:text-white"
  >
    No News!
  </p>
</ng-template>
