<app-loading-indicator
  *ngIf="isFetchingSections"
  [loaderTxt]="'Loading Sections...'"
  class="mt-[25%]"
></app-loading-indicator>

<ng-container *ngIf="sections && sections.length; else noSectionsTmp">
  <app-section-list
    [list]="sections"
    (onListItemClickedEvent)="onListItemClickedEventHandler($event)"
  ></app-section-list>
  <app-loading-indicator
    *ngIf="isSettingUpSSEConnection"
    [loaderTxt]="'Registering for news events...'"
    class="mt-[5%]"
  ></app-loading-indicator>
</ng-container>
<ng-template #noSectionsTmp>
  <p
    *ngIf="!isFetchingSections"
    class="w-full mt-[25%] text-sm text-center font-normal text-gray-900 dark:text-white"
  >
    No sections found, Please refresh in few minutes, Thanks.
  </p>
</ng-template>
